.grid-collapse {
    display: grid;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid lightsteelblue;
    grid-template-columns: 0.25fr 0.75fr 1fr 1fr 1fr;
    grid-template-rows: 60px;
    gap: 0px 0px;
    grid-template-areas: ". . . . .";
}

.grid-container > th {
    grid-template-rows: 80px;
    padding: .5em;
    align-self: center;
    justify-self: center;
}

th:hover {
    background: #786b59;
}
